<div class="container">
    <div class="center wow fadeInDown">
        <div class="row">
            <div id="content-box" class="col-sm-6 pull-right wow fadeInRight">
                <h2>À propos de moi</h2>
                <p class="lead">Diplômé en design graphique au collège Marie-Victorin en 2012, j'exerce ce métier avec
                    passion et dynamisme.</p>
                <p class="lead">
                    Passionné par les nouvelles technologies, j'exerce mes compétences dans l'industrie de l'édition depuis 2014 sur un magazine B2B nommé PAX magazine.
                </p>
                <p class="lead">On dit de moi que je suis quelqu'un de fiable, de ponctuel et de constament positif.</p>
                <p class="lead"> J'adore dépasser mes limites et avoir de nouveaux défis.</p>

                <p>Référence:<br />
                    <a href="http://archives.paxmagazine.ca/digital/2017/06/fr/#page/3">
                        Pésentation de moi dans PAX magazine par Marie-Klaude Gagnon
                    </a>
                </p>
            </div>
        </div><!--/.services-->
    </div><!--/.row-->
</div><!--/.container-->