<div class="container">
    <div class="center wow fadeInDown">
        <div class="row">
            <div id="content-box" class="col-sm-6 pull-right wow fadeInRight">
                <h2>À propos de moi</h2>
                <p class="lead">Diplômé en design graphique au collège Marie-Victorin en 2012, j'exerce ce métier avec
                    passion et dynamisme.</p>
                <p class="lead">On dit de moi que je suis quelqu'un de fiable, de ponctuel et de constament positif.</p>
                <p class="lead"> J'adore dépasser mes limites et avoir de nouveaux défis.</p>
            </div>
        </div><!--/.services-->
    </div><!--/.row-->
</div><!--/.container-->
