<div class="container">
    <div class="row">
        <!-- Social Medias -->
        <div class="hidden-xs">
            <div class="col-sm-8">
                <ul>
                    <li>Me suivre sur :</li>
                    <li><a href="https://www.facebook.com/AfoisyGraphiste" target="new" class="fa solo fa-facebook"></a>
                    </li>
                    <li><a href="https://twitter.com/spectralshard" target="new" class="fa solo fa-twitter"></a></li>
                    <li><a href="http://pinterest.com/alexfoisy/" target="new" class="fa solo fa-pinterest"></a></li>
                </ul>
            </div>
        </div>
        <div class="hidden-sm hidden-lg">
            <div class="ccol-xs-12 center">
                <ul>
                    <li><a href="https://www.facebook.com/AfoisyGraphiste" target="new" class="fa solo fa-facebook"></a>
                    </li>
                    <li><a href="https://twitter.com/spectralshard" target="new" class="fa solo fa-twitter"></a></li>
                    <li><a href="http://pinterest.com/alexfoisy/" target="new" class="fa solo fa-pinterest"></a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="hidden-xs">
            <div class="col-sm-4 col-xs-12 text-right">
                &copy; Alexandre Foisy, 2012 - {{ "now"|date("Y") }}
            </div>
        </div>
        <div class="hidden-sm hidden-lg">
            <div class="col-sm-4 col-xs-12 center little-top-buffer">
                &copy; Alexandre Foisy, 2012 - {{ "now"|date("Y") }}
            </div>
        </div>

    </div>
</div>