<div class="container">
    <div class="row">
            <div class="col-sm-12 center">
                <ul>
                    <li>Me suivre sur :</li>
                    <li><a href="https://www.facebook.com/AfoisyGraphiste" target="new" class="fa solo fa-facebook"></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/alexandre-foisy" target="new" class="fa solo fa-linkedin"></a></li>
                    <li><a href="http://pinterest.com/alexfoisy/" target="new" class="fa solo fa-pinterest"></a></li>
                </ul>
            </div>
            <div class="col-sm-12 center little-top-buffer">
                &copy; Alexandre Foisy, 2012 - {{ "now"|date("Y") }}
            </div>
        </div>
    </div>
</div>