<div class="container">

    <div class="row">

        <div class="col-sm-6 col-md-4">
            <div class=" wow fadeInDown">
                <div id="content-box">
                    <h2>Je carbure à la caféine,
                        voici mes compétences</h2>
                    <div class="top-buffer">
                        <table class="table">
                            <tr>
                                <td>InDesign</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}"></td>
                            </tr>
                            <tr>
                                <td>Illustrator</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}"></td>
                            </tr>
                            <tr>
                                <td>Photoshop</td>
                                <td>
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}"></td>
                            </tr>
                            <tr>
                                <td>Acrobat Pro</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}"></td>
                            </tr>
                            <tr>
                                <td>Sketch</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}"></td>
                            </tr>
                            <tr>
                                <td>Affinity Designer</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}"></td>
                            </tr>
                            <tr>
                                <td>Affinity Photo</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}"></td>
                            </tr>

                            <tr>
                                <td>HTML5/CSS3</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}"></td>
                            </tr>
                            <tr>
                                <td>OctoberCMS</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}"></td>
                            </tr>
                            <tr>
                                <td>Suite Office</td>
                                <td><img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_full.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}">
                                    <img src="{{ 'assets/images/apple_minus.png'|theme }}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>