/*
 General CSS tricks
*/
body {
  font-family: 'Source Sans Pro', sans-serif !important; background:#ECECEC;
}

ol, li {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold!important;
}

.move-cursor {
  cursor: move;
}

.underline:hover {
  text-decoration: underline!important;
}

.default-link-color {
  color: #1A0DAB !important;
}
.text-primary {
  color: $primary-color!important;
}

.disabled {
  pointer-events: none!important;
  cursor: default;
}

.bg-highlight {
  background-color: $highlight;
}

.highlight {
  color: $highlight;
}

.small-block {
  display: inline-block!important;
  line-height: 16px;
}

.x-small-block {
  display: inline-block!important;
  line-height: 14px;
  font-size: 0.7rem;
}

.fa-15x {
  font-size: 1.5rem;
}

a {
  outline: 0;
  text-decoration: none!important;
  color: $primary-color;
  &:hover {
    color: #008A91!important;
  }
}

@include media-breakpoint-up(md) {
  .marketing-partial {
    height: 600px;
  }
}

@include media-breakpoint-down(xs) {
  .marketing-partial {
    height: 400px;
  }
}

.layout-app {
  footer, header, main {
    padding-left: $sidenav-width;

  }

  @include media-breakpoint-down(md) {
    footer, header, main {
      padding-left: 0 !important;
    }
  }

  header {
    .navbar {
      height: 60px;
      .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.5);
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
        }
      }
      .nav-menu {
        margin-top: 0;
        display: table;
        margin-bottom: 0 !important;
        li {
          display: table-cell !important;
          a {
            color: #fff;
            padding: 5px 15px;
            display: inline-block;
            text-align: center;
            i.fa, span.lang {
              font-size: 1.5rem!important;
            }
            span {
              font-size: 0.833rem;
            }
          }
        }
        li:hover a {
          color: $primary-color;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      .navbar {
        height: 85px;
        .button-collapse {
          display: none;
        }
        .nav-menu {
          margin-top: 5px;
        }
      }
    }
  }
  #layout-content, #layout-footer {
    .main-wrapper, .footer-wrapper {
      margin-left: 2%;
      margin-right: 2%;
    }
    @include media-breakpoint-down(lg) {
      .main-wrapper, .footer-wrapper {
        margin-left: 1%;
        margin-right: 1%;
      }
    }
  }
}


.languagebox{
  margin: 1rem;
}

.newform {
  border: none!important;
  background-color: transparent;
  color: $primary-color;
}

.btn-primary{
  background-color: $primary-color!important;
  border-color: $primary-color!important;
}
.btn-primary:hover{
  background-color: #008A91!important;
  border-color: #008A91!important;
}

#footer{
  background-color: $gray-color;
  padding: 3rem 0;
}
a#scrollUp{
  bottom: 20px;
  right: 20px;
  padding: 6px 16px;
  border-radius: 20px;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  font-size: .8em;
  opacity: 0.4;
  position: fixed;
  z-index: 10;
}
a#scrollUp:hover{
  opacity: 1;
}