description = "Footer"
==
<section id="footer">
    <div class="container">
    <div class="row">
        <div class="col-12 text-center text-white">
            <p style="display: inline-block">
                Me suivre sur :
            </p>&nbsp;&nbsp;&nbsp;
            <a href="https://www.facebook.com/AfoisyGraphiste" class="text-white" target="_blank">
                <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/alexandre-foisy" class="text-white" target="_blank">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a href="http://pinterest.com/alexfoisy/" class="text-white" target="_blank">
                <i class="fa fa-pinterest fa-lg" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-12 text-center text-white">
            <p>&copy; Alexandre Foisy, 2012 - {{ "now"|date("Y") }}</p>
        </div>
    </div>
    </div>
</section>