description = "Default Layout"

[simpleContact]
nameTitle = "Nom complet"
emailTitle = "Courriel"
phoneTitle = "Téléphone"
subjectTitle = "Sujet"
messageTitle = "Message"
buttonText = "Soumettre"
displayPhone = 1
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="author" content="Alexandre Foisy">
    <title>{{ this.page.title }}</title>
	
	<!-- core CSS -->
	{% styles %}
	<link href="{{ ['assets/css/bootstrap.min.css',
		'assets/css/font-awesome.min.css',
		'assets/css/animate.min.css',
		'assets/css/prettyPhoto.css',
		'assets/css/style.css',
		'assets/css/responsive.css',
	]|theme }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ 'assets/images/ico/favicon.ico'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/images/ico/apple-touch-icon-144-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/images/ico/apple-touch-icon-114-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/images/ico/apple-touch-icon-72-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" href="{{ 'assets/images/ico/apple-touch-icon-57-precomposed.png'|theme }}">
</head><!--/head-->

<body class="homepage">

<header id="header">
        {% partial "nav" %}
</header><!--/header-->

    {% page %}

<!--Contact form-->
<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <div class="widget">
                    <h3>Me contacter</h3>
                    {% component 'simpleContact' %}
                </div>
            </div>
        </div>
    </div>
</section><!--/#bottom-->

<footer id="footer">
	{% partial "footer" %}
</footer><!--/#footer-->
<a id="scrollUp" href="#main-slider" title="Retour vers le haut de la page"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>

<!-- Scripts -->
<script type="text/javascript" src="{{ 'assets/js/html5shiv.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/respond.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
<script>
    //Smoothscroll
    $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
{% framework extras %}
{% scripts %}             
         
</body>
</html>